body {
  background: #fafafa;
  font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, 'Lantinghei SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  color: #333;
}

.section {
  text-align: center;
  padding-top: 250px;
  font-size: 2em;
}
